<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  {% include head.html %}

  <body class="theme-base-1a">

    <header class="logo masthead">
      <div class="masthead-inner">
        <h1>{{ site.title }}</h1>
        <p class="lead">{{ site.description }}</p>

        <div class="colophon">
          <ul class="colophon-links">
            <li>Contact:
            </li>
            <li>Honeyfield Road, Rassau NP23 5TA
            </li>
            <li>01495 302465
            </li>
          </ul>
          <p>&copy; 2014. {{ site.author.name }} All rights reserved.</p>
        </div>
      </div>
    </header>

    <div class="content container">
    <div class="menu">
<!--<input type="submit" value="Orange" class="orange-flat-button">
<input type="submit" value="Carrot" class="carrot-flat-button">
<input type="submit" value="Pumpkin" class="pumpkin-flat-button">
<input type="submit" value="Alizarin" class="alizarin-flat-button">
<input type="submit" value="Pomegranate" class="pomegranate-flat-button">
<input type="submit" value="Turquoise" class="turquoise-flat-button">
<input type="submit" value="Green Sea" class="green-sea-flat-button">
<input type="submit" value="Emerald" class="emerald-flat-button">
<input type="submit" value="Nephritis" class="nephritis-flat-button">
<input type="submit" value="Peter River" class="peter-river-flat-button">
<input type="submit" value="Belize Hole" class="belize-hole-flat-button">
<input type="submit" value="Amethyst" class="amethyst-flat-button">
<input type="submit" value="Wisteria" class="wisteria-flat-button">
 <input type=type="submit" value="Wet Asphalt" class="wet-asphalt-flat-button">
<input type="submit" value="Midnight Blue" class="midnight-blue-flat-button">
<input type="submit" value="Clouds" class="clouds-flat-button">
<input type="submit" value="Silver" class="silver-flat-button">
 <input type=type="submit" value="Concrete Blue" class="concrete-flat-button">
<input type="submit" value="Asbestos" class="asbestos-flat-button">
<input type="submit" value="Graphite" class="graphite-flat-button">
-->

<a href="/ourschool"><input type="submit" value="OUR SCHOOL" class="flat-button-base carrot-flat-button"></a>

<a href="/children"><input type="submit" value="CHILDREN" class="flat-button-base alizarin-flat-button"></a>

<a href="/parents"><input type="submit" value="PARENTS" class="flat-button-base turquoise-flat-button"></a>

<a href="/staff"><input type="submit" value="STAFF" class="flat-button-base emerald-flat-button"></a>

<a href="/calendar"><input type="submit" value="CALENDAR" class="flat-button-base peter-river-flat-button"></a>

<a href="/news"><input type="submit" value="SCHOOL NEWS" class="flat-button-base amethyst-flat-button"></a>

 <a href="/governors"><input type="submit" value="GOVERNORS" class="flat-button-base wet-asphalt-flat-button"></a>

 <a href="/partners"><input type="submit" value="PARTNERS" class="flat-button-base concrete-flat-button"></a>

<a href="/jobs"><input type="submit" value="JOBS" class="flat-button-base graphite-flat-button"></a>
    </div>
    <hr/>
      {{ content }}
    </div>

  </body>
</html>
